Src/WcfService/PhoneApp/Service References/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brick" type="xs:int" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IronOre" type="xs:int" />
      <xs:element minOccurs="0" name="MyTurn" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sheep" type="xs:int" />
      <xs:element minOccurs="0" name="Wheat" type="xs:int" />
      <xs:element minOccurs="0" name="Wood" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OPlayer" nillable="true" type="tns:OPlayer" />
  <xs:complexType name="OLobbyRoom">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostPlayer" nillable="true" type="tns:OPlayer" />
      <xs:element minOccurs="0" name="PlayerList" nillable="true" type="tns:ArrayOfOPlayer" />
      <xs:element minOccurs="0" name="TheLobby" nillable="true" type="tns:OLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLobbyRoom" nillable="true" type="tns:OLobbyRoom" />
  <xs:complexType name="ArrayOfOPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OPlayer" nillable="true" type="tns:OPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOPlayer" nillable="true" type="tns:ArrayOfOPlayer" />
  <xs:complexType name="OLobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiceNum" type="xs:int" />
      <xs:element minOccurs="0" name="IsWaitingForPlayers" type="xs:boolean" />
      <xs:element minOccurs="0" name="LobbyId" type="xs:int" />
      <xs:element minOccurs="0" name="LobbyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLobby" nillable="true" type="tns:OLobby" />
  <xs:complexType name="ArrayOfOLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OLobby" nillable="true" type="tns:OLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOLobby" nillable="true" type="tns:ArrayOfOLobby" />
  <xs:complexType name="ArrayOfOLobbyRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OLobbyRoom" nillable="true" type="tns:OLobbyRoom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOLobbyRoom" nillable="true" type="tns:ArrayOfOLobbyRoom" />
</xs:schema>