Src/WcfService/PhoneApp/Service References/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://catan3.cloudapp.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://catan3.cloudapp.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://catan3.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAvailableLobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLobbies" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAvailableLobbies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLobbiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAvailableLobbyRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLobbyRooms" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAvailableLobbyRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLobbyRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StartPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:StartPlay" />
  </wsdl:message>
  <wsdl:message name="IService1_StartPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartPlayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SubscribeToLobbyRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToLobbyRoom" />
  </wsdl:message>
  <wsdl:message name="IService1_SubscribeToLobbyRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToLobbyRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MakePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:MakePlayer" />
  </wsdl:message>
  <wsdl:message name="IService1_MakePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakePlayerResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateLobby" message="tns:IService1_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateLobbyResponse" message="tns:IService1_CreateLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableLobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAvailableLobbies" message="tns:IService1_GetAvailableLobbies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAvailableLobbiesResponse" message="tns:IService1_GetAvailableLobbies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableLobbyRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAvailableLobbyRooms" message="tns:IService1_GetAvailableLobbyRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAvailableLobbyRoomsResponse" message="tns:IService1_GetAvailableLobbyRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StartPlay" message="tns:IService1_StartPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StartPlayResponse" message="tns:IService1_StartPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeToLobbyRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SubscribeToLobbyRoom" message="tns:IService1_SubscribeToLobbyRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SubscribeToLobbyRoomResponse" message="tns:IService1_SubscribeToLobbyRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MakePlayer" message="tns:IService1_MakePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MakePlayerResponse" message="tns:IService1_MakePlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateLobby">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableLobbies">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAvailableLobbies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableLobbyRooms">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAvailableLobbyRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartPlay">
      <soap:operation soapAction="http://tempuri.org/IService1/StartPlay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeToLobbyRoom">
      <soap:operation soapAction="http://tempuri.org/IService1/SubscribeToLobbyRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePlayer">
      <soap:operation soapAction="http://tempuri.org/IService1/MakePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://catan3.cloudapp.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>