Src/WcfService/PhoneApp/Service References/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://catan3.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.DTO" />
  <xs:element name="CreateLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="host" nillable="true" type="q1:OPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="CreateLobbyResult" nillable="true" type="q2:OLobbyRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableLobbies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableLobbiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="GetAvailableLobbiesResult" nillable="true" type="q3:ArrayOfOLobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALobbyRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="lob" nillable="true" type="q4:OLobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALobbyRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="GetALobbyRoomResult" nillable="true" type="q5:OLobbyRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableLobbyRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableLobbyRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="GetAvailableLobbyRoomsResult" nillable="true" type="q6:ArrayOfOLobbyRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="hostPlayer" nillable="true" type="q7:OPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPlayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToLobbyRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="player" nillable="true" type="q8:OPlayer" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="lobby" nillable="true" type="q9:OLobbyRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToLobbyRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeToLobbyRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="playa" nillable="true" type="q10:OPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MakePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="MakePlayerResult" nillable="true" type="q11:OPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="lobbyRoom" nillable="true" type="q12:OLobbyRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTurnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="lobbyRoom" nillable="true" type="q13:OLobbyRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>